/*  your css code here. If applicable */
#box{
	 width: 200px;
      height: 200px;
	background-color: lightblue;
	border: 2px solid black;
	display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}
body{
	justify-content: center;
	align-items: center;
	display: flex;
}